.config
.local
config-private.R
*run.xml
*gz
*.aux
*.log
cache
.Rhistory
.DS_Store
.Rproj.user
.httr-oauth
*.bcf
*.blg
*.out
*.bak
*.Rds
*.RData
*_cache
*-blx.bib
*.bbl
.bash_history
.ssh
.texlive*
.vim*
test
